@page "/"

<div class="container is-fluid is-fullheight">
    <div class="columns is-vcentered is-fullheight">
        <div class="column has-text-centered">
            <p>You are logged in.</p>
        </div>
    </div>
</div>