@page "/"
    
<br/>
<div class="container is-fluid">
    <div class="columns">
        <div class="column is-narrow">
            <Aside />
        </div>
        <div class="column">
            <div class="has-text-centered">
                <p class="title is-1">Welcome to the D&D Campaign Manager!</p>
            </div>
        </div>
    </div>
</div>