@page "/"
@using CampaignManager.UI.ViewModels
@inject IDashboardViewModel ViewModel
    
<br/>
<div class="container is-fluid">
    <div class="columns">
        <div class="column is-narrow">
            <Aside />
        </div>
        <div class="column">
            <div class="has-text-centered">
                <p class="title is-1">Welcome to the D&D Campaign Manager!</p>

                <div>
                    <p>Testing out the D&D API...</p>
                    @if(ViewModel.Classes == null)
                    {
                        <p><em>Loading...</em></p>
                    }
                    else
                    {
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Url</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var cl in ViewModel.Classes)
                                {
                                    <tr>
                                        <td>@cl.name</td>
                                        <td>@cl.url</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
        <div class="column is-narrow">
            <div class="card">
                <div class="card-content">
                    <p class="title is-5">Active Users</p>
                    @if (ViewModel.Users == null)
                    {
                        <p><em>Loading...</em></p>
                    }
                    else
                    {
                        <table class="table is-hoverable">
                            <tbody>
                                @foreach (var user in ViewModel.Users)
                                {
                                    <tr>
                                        <td>@user.Username</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>

    </div>
</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        await ViewModel.RetrieveUsersAsync();
        await ViewModel.RetrieveClassesAsync();
    }
}