@page "/"
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using CampaignManager.Domain
@inject UserManager<ApplicationUser> UserManager
@inject AuthenticationStateProvider AuthProvider

    <div class="container is-fluid is-fullheight">
        <div class="columns is-vcentered is-fullheight">
            <div class="column has-text-centered">
                <p class="title is-1">Dungeons & Dragons Game Manager</p>
                <a href="Identity/Account/Register" class="button is-rounded">Sign Up</a>
                <a href="Identity/Account/Login" class="button is-rounded is-primary">Login</a>
            </div>
        </div>

        @if (AppUser != null)
        {
            <AuthorizeView>
                <Authorized>
                    <p>Hey dude, your email is @AppUser.Email and your phone number is @AppUser.PhoneNumber</p>
                </Authorized>
            </AuthorizeView>
        }
    </div>

@code {

    ApplicationUser AppUser { get; set; }

    protected async override Task OnInitializedAsync()
    {
        AppUser = await UserManager.GetUserAsync((await AuthProvider.GetAuthenticationStateAsync()).User);
    }
}