<aside class="menu">
    <p class="menu-label">
        General
    </p>
    <ul class="menu-list">
        <li><a class="is-active">Dashboard</a></li>
        <li><a>My Profile</a></li>
    </ul>
    <p class="menu-label">
        Campaigns
    </p>
    <ul class="menu-list">
        <li><a>My Campaigns</a></li>
        <li><a>Start a Campaign</a></li>
        <li><a>Join a Campaign</a></li>
    </ul>
    <p class="menu-label">
        Characters
    </p>
    <ul class="menu-list">
        <li><a>My Characters</a></li>
        <li><a>Create a Character</a></li>
    </ul>
</aside>

@code {

}
