<AuthorizeView>
    <Authorized>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="button is-text">Log out</button>
        </form>
    </Authorized>
</AuthorizeView>
